
<form id='paymentDetailsForm' method='POST' action='/paypal/ec/executepayment'>
    <table>
        <tr>
            <td>
                PAYMENT ID: 
            </td>
            <td>
                <input type='text'name='id' value='<%= details.id %>'/> 
            </td>
        </tr>
        <tr>
            <td colspan=2>
                PAYER INFO
            </td>
        </tr>
        <tr>
            <td>
                FIRST NAME: 
            </td>
            <td>
                <input type='text'name='first_name' value='<%= details.payer.payer_info.first_name %>'/> 
            </td>
        </tr>
        <tr>
            <td>
                LAST NAME: 
            </td>
            <td>
                <input type='text'name='last_name' value='<%= details.payer.payer_info.last_name %>'/> 
            </td>
        </tr>
        <tr>
            <td>
                PAYER ID: 
            </td>
            <td>
                <input type='text'name='payer_id' value='<%= details.payer.payer_info.payer_id %>'/> 
            </td>
        </tr>
        <tr>
            <td colspan=2>
                SHIPPING ADDRESS: 
            </td>
        </tr>
        <tr>
            <td>
                RECIPIENT NAME: 
            </td>
            <td>
                <input type='text'name='shipping_address.recipient_name' value='<%= details.transactions[0].item_list.shipping_address.recipient_name %>' /> 
            </td>
        </tr>
        <tr>
            <td>
                ADDRESS LINE 1: 
            </td>
            <td>
                <input type='text'name='shipping_address.line1' value='<%= details.transactions[0].item_list.shipping_address.line1 %>'/> 
            </td>
        </tr>
        <tr>
            <td>
                ADDRESS LINE 2: 
            </td>
            <td>
                <input type='text'name='shipping_address.line2' value='<%= details.transactions[0].item_list.shipping_address.line2 %>'/> 
            </td>
        </tr>
        <tr>
            <td>
                CITY: 
            </td>
            <td>
                <input type='text'name='shipping_address.city' value='<%= details.transactions[0].item_list.shipping_address.city %>'/> 
            </td>
        </tr>
        <tr>
            <td>
                STATE: 
            </td>
            <td>
                <input type='text'name='shipping_address.state' value='<%= details.transactions[0].item_list.shipping_address.state %>'/>  
            </td>
        </tr>
        <tr>
            <td>
                POSTAL CODE: 
            </td>
            <td>
                <input type='text'name='shipping_address.postal_code' value='<%= details.transactions[0].item_list.shipping_address.postal_code %>'/>  
            </td>
        </tr>
        <tr>
            <td>
                COUNTRY CODE: 
            </td>
            <td>
                <input type='text'name='shipping_address.country_code' value='<%= details.transactions[0].item_list.shipping_address.country_code %>'/> 
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <input type='textarea' name='dataString' value='<%= JSON.stringify(details) %>' />
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <input type='submit' id='submitDetails' value='PAY DETAIL' />
            </td>
        </tr>
    </table>
    
</form>
